AddHandler server-parsed html

AddType application/x-stuffit sit
AddType application/octet-stream bin
AddType application/x-newton-compatible-pkg	pkg

ErrorDocument 400 /error.html
ErrorDocument 401 /error.html
ErrorDocument 403 /error.html
ErrorDocument 404 /error.html
ErrorDocument 500 /error.html

#AddIconByType (TXT,icons/txt.gif) text/*
#AddIconByType (SIT,icons/sit.gif) application/x-stuffit
#AddIconByType (BIN,icons/bin.gif) application/octet-stream
#AddIconByType (PKG,icons/pkg.gif) application/x-newton-compatible-pkg
#AddIcon (IMG,icons/gif.gif) .gif .jpg .png

